.songHugContainer {
  a {
    text-decoration: none;
  }

  
  
  
  .frame {
    position: relative;
    margin: 0 8px;
  }
  display: flex;
  flex-direction: column;
  div:first-child {
    //960 x 540
    width: 960px !important;
    height: 540px !important;
    margin: 20px auto;
  }

  iframe {
    border-radius: 20px;
  }

  .description {
    margin-top: 12px;
    color: white;
    font-size: 50px;
  }

  .songhug {
    color: #ff5959;
  }

  .tempPlayer {
    width: 508px;
    height: 1280px;

    display: flex;

    background: #545454;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .sendButton,
  .MuiButton-root {
    color: #121213 !important;
    font-family: "Rubik" !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: 0em !important;
    text-align: center !important;

    background: #ff5959 !important;
    width: 300px !important;
    height: 41px !important;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25) !important;
    border-radius: 50px !important;

    // padding: 15px !important;
    display: block !important;
    margin-top: unset !important;

    text-transform: none !important;
  }

  .sendBack {
    font-size: 25px;
    background: transparent !important;
    color: #fff !important;
    box-shadow: unset !important;
    padding: 0 0 15px 0 !important;
    margin-top: 15px;
    margin-bottom: unset;
  }

  .fadeOut {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
  }
}

.songHugContainer > button {
  margin-top: 53px;
  margin-left: auto !important;
}
