.sendSongFrame {
  position: relative;
  margin: 0 8px;

  .flexCol {
    display: flex;
    flex-direction: column;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .spaceBetween {
    justify-content: space-between;
  }

  .textboxLabel {
    color: #121213;
    margin-bottom: 8px;
    font-family: "Rubik";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .sendSongHugContainer {
    width: 95% !important;
    margin: 0 auto;
    > button {
      margin-left: auto;
    }
  }
}
