@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  font-weight: 500;
  font-family: "Rubik", sans-serif !important;
  height: 100%;
  width: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("./resources/bgPattern.svg");
  background-size: cover;
  opacity: 0.07;
}

.frame {
  position: relative;
  margin: 0 8px;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
}

.spaceBetween {
  justify-content: space-between;
}

.textboxLabel {
  color: #121213;
  margin-bottom: 8px;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.songHugContainer {
  width: 80% !important;
  > button {
    margin-left: auto;
  }
}
